@model MyBlog.ViewModels.ArticleView

@{
    ViewBag.Title = "Edit";
}

<h2>Редакция на статия</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Запис" class="btn btn-success" />*@
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#article-edit">
                    Запис
                </button>

                <!-- Modal -->
                <div class="modal fade" id="article-edit" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm-custom" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center">Редакция на статия.</h4>
                                <button type="button" class="close" data-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <h4 class="text-center">Записване на промените?</h4>
                                    
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-1">
                                        @using (Html.BeginForm("Edit", "Articles", FormMethod.Post))
                                        {

                                            <input type="submit" value="Да" id="btn-save" class="btn btn-success" />
                                        }
                                    </div>

                                    <div class="col-lg-offset-3 col-lg-1">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Не</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
}

@Html.Partial("_BackToListButton")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $('#btn-save').click(function () {
            $('#article-edit').modal('hide');
        });
    });
</script>