@using MyBlog.ViewModels
@model List<ArticleView>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Създай", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Заглавие
        </th>
        <th>
            Съдържание
        </th>
        <th>
            Дата на създаване
        </th>
        <th>
            Автор
        </th>
        <th>
            Брой коментари
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @item.Count
        </td>
        <td>
            @Html.ActionLink("Инфо", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
